@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 auto 1rem auto;
    font-size: 1.2rem;
    max-width: 80rem;
    text-align: center;
    

    &.error{
        background-color: lighten(v.$rojo, 60%);
        border-left: .5rem solid v.$rojo;
        border-right: .5rem solid v.$rojo;
        color: v.$rojo
    }

    &.exito{
        background-color: lighten(v.$verde, 60%);
        border-left: .5rem solid v.$verde;
        border-right: .5rem solid v.$verde;
        color: v.$verde
    }
}