@use 'base/variables' as v;
@use 'base/mixins' as m;

.login{
    @include m.auth-pagina(v.$cyan);

}

.crear{
    @include m.auth-pagina(v.$morado);

}

.olvide{
    @include m.auth-pagina(v.$rosa);

}