@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
    background-color: v.$grisClaro;

    @include m.mediaq(v.$tablet){
        display: flex;
        height: 100vh;
    }

    .principal{
        flex:1;
        @include m.mediaq(v.$tablet) {
            overflow: scroll;
        }

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        &::-webkit-scrollbar:vertical {
            width:10px;
        }
        
        &::-webkit-scrollbar-button:increment,.app::-webkit-scrollbar-button {
            display: none;
        } 
        
        &::-webkit-scrollbar:horizontal {
            height: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: v.$indigo;
            border-radius: 20px;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 10px;  
        }

        
    }

    .contenido{
        padding: 2rem;

        .nombre-pagina{
            font-size: 2.8rem;
            text-align: center;
        }
    }

    .formulario{
        input:not([type="submit"]){
            background-color: v.$blanco;

        }

        input[type="submit"]{
            @include m.boton (v.$indigo, v.$blanco);
            padding: 1.3rem;
            text-transform: uppercase;
            
            
        }
    }
}

.selected {

    @include m.mediaq(500px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include m.mediaq(v.$desktop){
        justify-content: space-around;
    }


    .option {
        margin: 2rem 0;

        input, label{
            &:hover{
                cursor:pointer;
            }
        }


        input[type=radio]:checked{
            
            &+ label{
                font-weight: bold;
                font-size:1.8rem;

            }
        }
    }
    
}
