@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido h2{
    margin-bottom: 2rem;
}
.contenedor-nueva-tarea{
    display:flex;
    justify-content: center;

    .agregar-tarea{
        @include m.boton (v.$cyan, v.$blanco);
        margin: 2rem 0;
    }
}

.listado-tareas{
    list-style: none;
    padding: 0;
    margin-top: 3rem;

    .no-tareas{
        text-align: center;
        
    }
}

.tarea{
    padding: 1rem 2rem;
    border-bottom: 2px solid darken(v.$grisClaro, 5%);
    margin-bottom: 1rem;



    &:last-of-type{
        border-bottom: none;
    }

    p{
        font-size: 1.4rem;
        text-align: center;

        &:hover{
            cursor:pointer;
            color:v.$negro;
            font-weight: bold;
        }
    }

    @include m.mediaq(v.$tablet){
        display:flex;
        justify-content: space-between;
        align-items: center;
    }


    .opciones{
        display:flex;
        justify-content: center;
        gap: 1rem;

        .boton-opciones{
            flex: 1;
            border:none;
            font-size: 1rem;
            padding: .6rem 1rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 10px;

            &:hover{
                cursor:pointer;
            }
        }

        .completa{
            background-color: v.$azul;
            color: v.$blanco;

            &:hover{
                background-color: darken(v.$azul, 7%);
            }
        }

        .pendiente{
            background-color: v.$naranja;
            color: v.$blanco;

            &:hover{
                background-color: darken(v.$naranja, 7%);
            }
        }

        .eliminar-tarea{
            background-color: v.$rojo;
            color: v.$blanco;

            &:hover{
                background-color: darken(v.$rojo, 7%);
            }
        }

        .activar-tarea{
            background-color: v.$verde;
            color: v.$blanco;

            &:hover{
                background-color: darken(v.$verde, 7%);
            }
        }
    }
}